body
{
	text-align: center;
	font-family: sans-serif;
	background-color: skyblue;
}
h1
{
	color:blue;
}
a
{
	text-decoration: none;
	color:black;
}
p
{
	line-height: 0.5em;
}
nav
{
	background-color: cadetblue;
	overflow: hidden;
	color: white;
	height: 25px;
	padding: 0px;
}
nav li
{
	background-color: aqua;
	list-style: none;
	float: left;
	width: 150px;
	height: 25px;
	margin: -16px 1px 0px 1px;
}
nav li#selected
{
	background-color: blue;
}
nav li a
{
	color: white;
}
article
{
	text-align: left;
	margin: 10px;
	padding: 5px;
	width: 600px;
	border: 2px black solid;
}
video
{
	max-width: 600px;
	max-height: 800px;
}