body
{
	text-align: center;
	font-family: sans-serif;
	background-color: skyblue;
}
h1
{
	color:blue;
}
a
{
	text-decoration: none;
	color:black;
}
p
{
	line-height: 0.5em;
}
ul.nav
{
	background-color: rgb(105, 195, 251);
}
nav.nav.navbar-nav.fixed-top ul.nav.nav-tabs.nav-justified li.active
{
	background-color: skyblue;
}