body
{
	text-align: center;
	font-family: sans-serif;
	background: linear-gradient(to bottom,rgb(0, 128, 255),rgb(0, 128, 255),skyblue) no-repeat fixed 100%;
}
header
{
	background: linear-gradient(to bottom,black,blue);
}
header p
{
	color: white;
}
h1
{
	color:skyblue;
}
a
{
	text-decoration: none;
	color: black;
}
li a
{
	color: white;
}
li.natural
{
	color: white;
	border: 1px white solid;
	border-radius: 5px;	
}
nav.nav.navbar-nav ul.nav.nav-tabs.nav-justified li.active
{
	background: linear-gradient(to bottom,rgb(0, 64, 255),rgb(0, 128, 255));
	border-bottom: none;;
	color: black;
}
.content
{
	padding: 10px;
	background: linear-gradient(to bottom,rgba(128, 128, 128, 0.9),rgba(128, 128, 128, 0));
	border: solid 1px;
	border-radius: 10px;
	min-height: 256px;
}
.card
{
	margin: 20px;
}
.card-header, .card-footer
{
	background: #999;
}