body
{
	text-align: center;
	font-family: sans-serif;
	font-size: xx-small;
	background: linear-gradient(to bottom,rgb(0, 0, 144),rgb(0, 128, 256)) no-repeat fixed 100%;
	padding-top: 30px;
}
p
{
	color: black;
	margin: 5px;
}
header
{
	background: rgb(0, 0, 0);
	height: 30px;
}
ul
{
	display: inline;
	color: white;
}
h1
{
	color:skyblue;
}
a
{
	text-decoration: none;
	color: black;
}
li
{
	width: 14vw;
}
li a
{
	color: white;
}
p#head
{
	color: white;
}
article
{
	text-align: left;
	min-width: max-content;
	width: 310px;
	max-width: 500px;
	margin: 0px auto 10px;
	padding: 5px;
	border-radius: 3px;
	background: linear-gradient(to bottom,rgba(128, 128, 128, 1),rgba(128, 128, 128, 0.6),rgba(128, 128, 128, 0.3));
}
.content
{
	margin: 0px auto 5px;
	width: 85vw;
	padding: 10px;
	background: linear-gradient(to bottom,rgba(128, 128, 128, 1),rgba(128, 128, 128, 0.7),rgba(128, 128, 128, 0.3));
	min-width: max-content;
}
.card
{
	margin: 20px;
}
.card-header, .card-footer
{
	background: #999;
}
#logo
{
	margin: auto 0px;
}
.dropdown
{
	color: white;
}
.dropdown-menu
{
	background-color: black;
}
.dropdown-item
{
	color: white;
	font-size: x-small;
}