body
{
	text-align:center;
	font-family: sans-serif;
	background-color: skyblue;
}
h1,h3
{
	color:blue;
}
a
{
	text-decoration: none;
	color:black;
}
p
{
	line-height: 0.5em;
}
#projects
{
        float: left;
        border-style: solid;
        border-size: 1px;
        border-radius: 15px;
        padding: 30px 50px 30px 50px;
}
