body
{
	text-align:center;
	font-family: sans-serif;
	background-color: skyblue;
}
h1,h3
{
	color:blue;
}
a
{
	text-decoration: none;
	color:black;
}
p
{
	line-height: 0.5em;
}
#projects
{
        float: left;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
}
nav
{
	border: solid 1px blue;
	background-color: cadetblue;
	overflow: hidden;
}
nav li
{
	list-style: none;
	float: left;
	width: 150px;
}
nav li#selected
{
	background-color: blue;
}